#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        TAP_HOLD_LAYER_LEFT: TAP_HOLD_LAYER_LEFT {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <7 22 36 7 8 9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41 45 46 47>;
        };

        HOME_ROW_LEFT: HOME_ROW_LEFT {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <23 24 25 26 7 8 9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41 46 47 45>;
        };

        CHANGE_LAYER: CHANGE_LAYER {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&to 0>, <&to 1>, <&to 2>, <&to 3>;
        };

        rgb_hue_encoder: rgb_hue_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "RGB_HUE_ENCODER";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUI>, <&rgb_ug RGB_HUD>;

            tap-ms = <50>;
        };

        // 定义一个名为 hw_scroll 的编码器行为

        hw_scroll: hw_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc MOVE_Y(-500)>, <&msc MOVE_Y(500)>;
            // 顺时针向下滚，逆时针向上滚
            tap-ms = <50>;

        };

        hw_scroll_hor: hw_scroll_hor {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc MOVE_X(500)>, <&msc MOVE_X(-500)>;
            // 顺时针向右滚，逆时针向左滚            
            tap-ms = <50>;

        };

        HOME_ROW_RIGHT: HOME_ROW_RIGHT {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            quick-tap-ms = <175>;
            label = "HOME_ROW_RIGHT";
            hold-trigger-key-positions = <14 15 16 17 18 0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33>;
        };

        TAP_HOLD_LAYER_RIGHT: TAP_HOLD_LAYER_RIGHT {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            label = "TAP_HOLD_LAYER_RIGHT";
            hold-trigger-key-positions = <0 1 2 3 4 5 13 14 15 16 17 18 28 29 30 31 32 33 42 43 44>;
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };

        ESC_QW {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            timeout-ms = <50>;
            require-prior-idle-ms = <125>;
        };

        MB2_UI {
            bindings = <&mkp RCLK>;
            key-positions = <8 9>;
            timeout-ms = <60>;
            require-prior-idle-ms = <125>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB                          &kp Q                        &kp W                      &kp E                          &kp R                   &kp T                                                   &mmv MOVE_UP                     &kp Y                      &kp U                    &kp I                            &kp O                        &kp P                             &kp BSPC
&TAP_HOLD_LAYER_LEFT 5 CAPSLOCK  &HOME_ROW_LEFT LEFT_SHIFT A  &HOME_ROW_LEFT LEFT_ALT S  &HOME_ROW_LEFT LEFT_COMMAND D  &HOME_ROW_LEFT LCTRL F  &TAP_HOLD_LAYER_LEFT 4 G                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &TAP_HOLD_LAYER_RIGHT 4 H  &HOME_ROW_RIGHT RCTRL J  &HOME_ROW_RIGHT RIGHT_COMMAND K  &HOME_ROW_RIGHT RIGHT_ALT L  &HOME_ROW_RIGHT RSHIFT SEMICOLON  &kp SQT
&kp LEFT_SHIFT                   &kp Z                        &kp X                      &kp C                          &kp V                   &kp B                     &kp C_MUTE                    &mmv MOVE_DOWN                   &kp N                      &kp M                    &kp COMMA                        &kp DOT                      &kp FSLH                          &kp ENTER
                                                                                         &CHANGE_LAYER                  &kp LEFT_COMMAND        &kp SPACE                                                                                &lt 6 RCTRL                &tog 7                   &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5                                               &rgb_ug RGB_BRI                   &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSPC
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                        &rgb_ug RGB_SPD  &rgb_ug RGB_EFF  &rgb_ug RGB_SPI  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF  &rgb_ug RGB_TOG                     &rgb_ug RGB_BRD                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &kp END   &kp PG_DN
                                         &trans        &trans        &trans                                                                                 &kp INS          &kp DEL          &trans
            >;

            sensor-bindings = <&rgb_hue_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT                                     &mmv MOVE_UP                     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&trans  &bt BT_CLR    &mkp LCLK     &mkp MCLK  &mkp RCLK  &mkp MB4                      &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none      &none      &mkp MB5   &rgb_ug RGB_TOG                    &mmv MOVE_DOWN                   &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                    &trans     &trans     &kp SPACE                                                                      &kp RET    &trans     &trans
            >;

            sensor-bindings = <&hw_scroll>;
        };

        KBFunc {
            display-name = "Fn";
            bindings = <
&studio_unlock  &kp F1      &kp F2     &kp F3       &kp F4     &kp F5                                       &mmv MOVE_UP                     &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans          &trans      &mkp LCLK  &mkp MCLK    &mkp RCLK  &mkp MB4                     &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans     &bootloader  &trans     &mkp MB5  &rgb_ug RGB_TOG                    &mmv MOVE_DOWN                   &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                       &trans       &trans     &trans                                                                        &trans       &trans     &trans
            >;

            sensor-bindings = <&hw_scroll>;
            label = "KBFunc";
        };

        NumPad {
            bindings = <
&kp TILDE  &trans  &trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9                              &msc MOVE_Y(-10)                   &kp NUMBER_7  &kp NUMBER_8    &kp NUMBER_9  &kp MINUS       &kp EQUAL  &kp BACKSLASH
&trans     &trans  &trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6            &msc MOVE_X(-10)  &mkp LCLK         &msc MOVE_X(10)  &kp NUMBER_4  &kp N5          &kp NUMBER_6  &kp UNDERSCORE  &kp PLUS   &trans
&trans     &trans  &trans  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans                      &msc MOVE_Y(10)                    &kp NUMBER_1  &kp NUMBER_2    &kp NUMBER_3  &kp PERIOD      &kp SLASH  &kp ENTER
                           &trans           &kp KP_NUMLOCK   &kp KP_NUMBER_0                                                                 &kp NUMBER_0  &kp KP_NUMLOCK  &trans
            >;

            sensor-bindings = <&hw_scroll_hor>;
            label = "NumPad";
        };

        CAP_Fn {
            bindings = <
&kp GRAVE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT                    &trans          &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp F11
&trans     &kp F1           &kp F2       &kp F3    &kp F4      &kp F5                 &trans  &trans  &trans  &kp F6     &kp F7         &kp F8        &kp F9                &kp F10                &kp PRINTSCREEN
&trans     &kp N1           &kp N2       &kp N3    &kp N4      &kp N4       &trans            &trans          &kp N6     &kp N7         &kp N8        &kp N9                &kp N0                 &kp F12
                                         &trans    &trans      &trans                                         &trans     &trans         &trans
            >;

            label = "Cap_Fn";
        };

        Direct {
            bindings = <
&trans  &trans  &trans         &trans         &trans         &trans                              &msc MOVE_Y(50)                    &trans          &kp PG_DN  &kp PG_UP  &kp LBKT   &kp RBKT  &kp DEL
&trans  &trans  &kp LC(LS(X))  &kp LS(LC(C))  &kp LC(LS(V))  &trans            &msc MOVE_X(-50)  &mkp RCLK         &msc MOVE_X(50)  &kp LEFT_ARROW  &kp DOWN   &kp UP     &kp RIGHT  &trans    &trans
&trans  &trans  &kp LC(X)      &kp LC(C)      &kp LC(V)      &trans  &trans                      &msc MOVE_Y(-50)                   &kp INSERT      &kp HOME   &kp END    &trans     &trans    &trans
                               &trans         &trans         &trans                                                                 &trans          &trans     &trans
            >;

            label = "Direct";
            sensor-bindings = <&hw_scroll>;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                            &mmv MOVE_UP                     &trans          &mkp LCLK       &mkp RCLK     &mkp MCLK        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                    &mmv MOVE_DOWN                   &trans          &trans          &trans        &trans           &trans  &trans
                        &trans  &trans  &trans                                                             &trans          &trans          &trans
            >;

            label = "Mouse";
            sensor-bindings = <&hw_scroll>;
        };
    };
};
